.wrapper {
  padding: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--text-color);
}

text {
  fill: var(--text-color);
}

.chartContainer {
  position: relative;
}

.svgBackground {
  background-color: var(--background-color);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.circle {
  transition: transform 0.2s ease;
  cursor: pointer;
}

/* .circle:hover {
  transform: scale(1.2);
} */

.tooltip {
  position: absolute;
  width: 130px;
  padding: 0.75rem;
  background-color: var(--background-color);
  border-radius: 0.75rem;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  font-size: 0.85rem;
  pointer-events: none;
  color: var(--text-color);
  border: 1px solid #e5e7eb;
  z-index: 1000;
}

.tooltipHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.weatherIcon {
  width: 30px;
  height: 30px;
}

.tooltipDay {
  font-weight: 600;
  color: var(--text-color);
}

.tooltipDate {
  font-size: 0.75rem;
  color: #6b7280;
  margin-bottom: 0.5rem;
}

.tooltipDetails {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--text-color);
}

.tooltipDesc {
  margin-top: 0.25rem;
  font-style: italic;
  color: #9ca3af;
}
