.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30dvh;
  background-color: transparent;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #d1d5db;
  border-top-color: var(--accent-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.text {
  margin-top: 12px;
  font-size: 16px;
  color: var(--text-color);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
