.container {
  background-color: var(--header-bg);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  width: 100%;
  position: relative;
  height: 0;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}

.content {
  padding: 10px 24px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  background-color: var(--header-bg);
  display: flex;
  align-items: flex-end;
  gap: 26px;
  flex-wrap: wrap;
}

.active {
  height: 87px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.setting {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.setting:last-child {
  margin-left: auto;
}

.setting label {
  font-weight: 600;
  color: var(--text-color);
}

.setting button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.setting button:hover {
  background-color: #0b5ed7;
}

.setting input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: var(--body-bg);
  color: var(--text-color);
  font-size: 0.95rem;
  transition: border-color 0.3s ease;
}

.setting input:focus {
  outline: none;
  border-color: var(--accent-color);
}

/* --------- Media Queries --------- */

@media (max-width: 1023px) {
  .content {
    gap: 20px;
    padding: 10px 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .setting button,
  .setting input {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
}

@media (max-width: 767px) {
  .content {
    gap: 16px;
    padding: 8px 16px;
    flex-direction: column;
  }

  .setting:last-child {
    margin-left: auto;
  }

  .active {
    min-height: 90px;
    height: auto;
  }

  .setting {
    width: 100%;
  }
  .setting button,
  .setting input {
    width: 100%;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 6px 12px;
    gap: 12px;
  }

  .setting button,
  .setting input {
    font-size: 0.85rem;
    padding: 8px 10px;
  }
}
