:root {
  --header-bg: #f8f9fa;
  --text-color: #212529;
  --icon-color: #212529;
  --accent-color: #0d6efd;
  --background-color: #ffffff; /* umumiy body fon */
}

[data-theme="dark"] {
  --header-bg: #212529;
  --text-color: #f8f9fa;
  --icon-color: #f8f9fa;
  --accent-color: #0d6efd;
  --background-color: #121212; /* qoraroq umumiy fon */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: system-ui, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
